{% extends 'layout/base.html' %}
{% load static %}

{% block content_title %}
    {% include 'layout/content_title.html' %}
{% endblock %}

{% block content %}
    <form class="w-25" action="" method="post"> <!--Почему при изменении (например w-30) ширина блока становится 100% от родительского?-->
        {% csrf_token %}
                <div>
                {% for error in form.non_field_errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                </div>
        <div class="row-auto mb-3">
            <label for="{{ form.username.id_for_label }}" class="visually-hidden"></label>
            {{ form.username }}
        </div>
        <div class="row-auto mb-3">
            <label for="{{ form.password.id_for_label }}" class="visually-hidden"></label>
            {{ form.password }}
        </div>
        <div class="row-auto mb-3">
            <button type="submit" class="btn btn-primary mb-3">Войти</button>
        </div>
    </form>
{% endblock %}