{% load static %}
<form class="settings__form container-fluid" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3 row">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
                {% include 'layout/error_message.html' %}
            </div>
        </div>
    {% endfor %}

    <div class="float-end">
          <button type="submit" class="btn text-bg-primary">{{ button_text }}</button>
      </div>
</form>