{% load static %}
<div class="card p-3 mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <div class="container d-flex flex-column gap-2">
        <img src="../static/img/zoomer.png" class="mx-auto d-block" height="150" width="150">
        <input type="number" class="form-control" aria-label="rating" value="{{ question.like.count }}">
      </div>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ question.title }}</h5>
        <p class="card-text">{{ question.text }}</p>
        <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p>
      </div>
      <div class="row ms-1">
        <a class="col-4" href="{% url 'question' question.id %}">
            {% if question.answer_count != 0 %}
            Answers({{ question.answer_count }})
            {% else %}
            Your answer can be first!
            {% endif %}
        </a>
        <div class="col-8">
          <span>Tags: </span>
          {% include 'layout/tag_list.html' with tags=question.tag.all %} <!-- method all() !-->
        </div>
      </div>
    </div>
  </div>
</div>